<div id="<%= dom_id pokemon %>">
  <p>
    <strong>Poke:</strong>
    <%= pokemon.poke_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= pokemon.name %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= pokemon.url %>
  </p>

  <p>
    <strong>Sprite:</strong>
    <%= pokemon.sprite %>
  </p>

</div>
